button,
input,
select,
textarea,
p,
article,
aside,
header,
ul, 
li{
	font-size: ($font-size - 4px);
	@include media($mamabear) {
		font-size: $font-size;
	}
	
	font-weight: 300;
}

b, strong{
	font-weight: 600;
}

html,
button,
input,
select,
textarea{
	font-family: $font-family;
	color: $font-color;
}


input:focus, textarea:focus, select:focus{
	outline: 0;
}

.show-screenreader{
	position: absolute;
	left: -9999px;
}

h1,
h2,
h3,
h4,
h5{
	font-family: $alt-font-family !important;
	line-height: 1.1em !important;
	a{
		text-decoration: none;
		color: $font-color;		
	}
	
}

h1{font-size: 3em;}
h2{font-size: 2.4em;}
h3{font-size: 1.7em;}
h4{font-size: 1.3em;}
h5{font-size: 1em;}


p,
ul,
li{
	line-height: 1.618em;
}

a{
	display: inline-block;
	color: $primary-color;
	
	&:hover{
		text-decoration: none;
	}
}

pre{
	margin: 1em 0;
	background: #2e3640;
	color: #fff;
	border-radius: 10px;
	padding: 1em;
}
::-moz-selection {
    background: $primary-color;
    color: white;
    text-shadow: none;
}

::selection {
    background: $primary-color;
    color: white;
    text-shadow: none;
}